.product-cart {
  background-color: #f4f4f4;
  margin: 0 0 60px 0;
  &__container {
  }

  &__body {
    padding: 46px 0;
  }

  &__body-item {
  }
}
.product-cart-body {
  &__breadcrumb-nav {
    display: flex;
    justify-content: space-between;
  }
}
.product-body {
  &__breadcrumb {
  }

  &__nav {
    display: flex;
  }

  &__nav-left-arrow {
    svg {
      cursor: pointer;
    }
    margin: 0 36px 0 0;
    &:hover {
      svg {
        path {
          fill: #272727;
        }
      }
    }
  }

  &__nav-right-arrow {
    svg {
      cursor: pointer;
    }
    &:hover {
      svg {
        path {
          fill: #272727;
        }
      }
    }
  }
}
.universal-body {
  &__content-breadcrumbs {
  }
}
.product-cart-item {
  &__row {
    display: flex;
  }
}
.product-main-description {
  &__title {
    margin: 0 0 26px 0;
    h1 {
      font-size: 32px;
      letter-spacing: 0.5px;
      color: #272727;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 0 26px 0;
  }
  &__price {
    color: #272727;
    font-size: 26px;
  }

  &__body-sale {
    display: flex;
    justify-content: space-between;
    margin: 0 0 26px 0;
  }

  &__sale-price {
    display: flex;
    align-items: end;
    font-size: 26px;
    color: #272727;
    align-items: end;
  }
  &__sale-price-main {
    font-size: 14px;
    color: #4c4c4c;
    margin: 0 18px 0 0;
    text-decoration: line-through;
  }
  &__sale-price-sale {
    color: #f65b47;
  }

  &__favorite {
    svg {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }

  &__text {
    margin: 0 0 26px 0;
    p {
      line-height: 1.5;
      letter-spacing: 0.5px;
      padding: 12px 0;
      border-top: 1px solid #b2b2b2;
      border-bottom: 1px solid #b2b2b2;
      color: #272727;
    }
  }

  &__buttons {
    display: flex;
    margin: 0 0 26px 0;
    align-items: center;
  }

  &__category {
    display: flex;
    p {
      color: #272727;
      margin: 0 6px 0 0;
    }
    span {
      color: #272727;
      margin: 0 8px 0 0;
    }
    span:last-child {
      margin: 0;
    }
  }
}
.product-main-description-buttons {
  &__quantity {
    margin: 0 26px 0 0;
    display: flex;
    border: 2px solid #eeeeee;
    background: #fff;
    width: fit-content;
  }

  &__quantity-minus {
    background: #fff;
    color: #272727;
    font-size: 25px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    p {
      font-size: 25px;
      line-height: 44px;
    }
    :hover {
      background: #272727;
      color: #fff;
    }
  }
  &__quantity-minus:disabled {
    opacity: 0.4;
  }

  &__quantity-volue {
    text-align: center;
    background: #fff;
    color: #272727;
    font-size: 25px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    p {
      font-size: 25px;
      line-height: 44px;
    }
  }

  &__quantity-plus {
    background: #fff;
    color: #272727;
    cursor: pointer;
    width: 44px;
    height: 44px;

    p {
      font-size: 25px;
      line-height: 44px;
    }
    :hover {
      background: #272727;
      color: #fff;
    }
  }

  &__black-button {
    text-transform: uppercase;
  }
}

.related-product {
  margin: 0 0 60px 0;
  &__container {
  }

  &__title {
    letter-spacing: 1px;
    color: #272727;
    font-size: 24px;
    margin: 0 0 30px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__grid-items {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: space-between;
    grid-row-gap: 40px;
  }
}
