.universal {
  flex: 1 1 auto;

  &__container {
  }
}

.universal-body {
  text-align: center;
  &__content {
    margin: 0 0 47px 0;
  }

  &__content-breadcrumbs {
    margin: 0 0 22px 0;
    ul {
      display: flex;
      justify-content: center;
      li {
        display: flex;
        p {
          font-style: italic;
          color: #272727;
        }
      }
      li:before {
        content: "/";
        padding: 0 7px;
        color: #4c4c4c;
      }
      li:first-child::before {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    h1 {
      text-transform: uppercase;
      font-size: 42px;
      color: #272727;
    }
    ::before {
      position: absolute;
      content: "";
      width: 45px;
      height: 3px;
      background: #272727;
      bottom: -17px;
      position: absolute;
      left: 48%;
    }
  }
}
.black-button {
  &_active {
    background: #272727;
    color: #fff;
    border: 2px solid #272727;
    transition: all ease 0.2s;
    cursor: pointer;
    p {
      color: #fff;
    }
  }
}
.universal-input {
  border: 2px solid #eeeeee;
  padding: 10px;
  width: 100%;
  transition: all 0.2s ease-in-out 0s;
  &:hover {
    border: 2px solid #d4d4d4;
  }
  &:focus {
    border: 2px solid #b6b6b6;
  }
}
.universal-input-name {
  color: #272727 !important;
  margin: 0 0 12px 0 !important;
}
.universal-asterisk {
  font-size: 14px;
  color: #f65b47;
}
